//Navigation menu style.
//View path /Views/assets/anon_nav.php
.main_nav {
    border-bottom: 1px solid map-get($main_nav, borderColor);
    background-color: map-get($main_nav, bgColor);
    color: map-get($main_nav, fontColor);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 20;

    .nav_content {
        padding: 5px 10px;

        .logo_container {
            width: 10%;
            float: left;
            text-align: center;
            font-family: map-get($siteLogo, font);
            font-size: map-get($siteLogo, size);
            position: relative;
            top: 3px;

            a {
                color: map-get($siteLogoLink, color);
                text-decoration: map-get($siteLogoLink, decoration);
            }
        }

        .search_container {
            width: 70%;
            float: left;
            position: relative;
            top: 3px;
            
            .text_input {
                border: 1px solid map-get($searhNav, colors);
                width: 80%;
                margin: 0 auto;
                background-color: map-get($searhNav, colors);
                color: map-get($searhNav, fontColor);
                
                .search {
                    width: 95.5%;
                    border: none;
                    padding: 3px 5px;
                    outline: none;
                    color: map-get($searhNav, fontColor);
                }

                @include screen-size(1040px) {
                    .search {
                        width: 93%;
                    }
                }

                .search-btn {
                    cursor: pointer;
                    color: map-get($main_nav, bgColor);
                }

                .search-btn:active {
                    position: relative;
                    top: 1px;
                    left: 1px;
                }
            }
        }

        .links_container {
            width: 20%;
            float: left;
            position: relative;
            top: 3px;

            .sm {
                display: none;
            }

            ul {
                text-align: center;
                position: relative;
                top: 3px;

                li {
                    display: inline-block;
                    margin: 0 3%;

                    a {
                        color: map-get($main_nav, fontColor);
                        text-decoration: none;
                    }
                }
            }
        }

        .links_container2 {
            width: 20%;
            float: left;
            position: relative;
            top: 5px;
            text-align: right;

            .sm {
                display: none;
            }

            ul {
                
                li {
                    display: inline-block;
                    text-align: center;
                    position: relative;
                    margin: 0 5px;
                    margin-top: -4px;
                    top: 2px;
                    text-align: center;
    
                    img {
                        border-radius: 50%;
                        height: 30px;
                        width: 30px;
                        padding: 0;
                        border: 2px solid $thumbnailBorderColor;
                        cursor: pointer;
                    }
                }

                li:nth-child(2), li:last-child span#user_menu_toggler {
                    cursor: pointer;
                }

                li:nth-child(2):hover, li:last-child span#user_menu_toggler:hover {
                    color: $hoverColor;
                }
            }
        }

        @include screen-size(1050px) {
            .search_container {
                width: 60%;
            }

            .links_container, .links_container2 {
                width: 30%;
            }
        }

        @include screen-size(710px) {
            .logo_container {
                width: 50%;
                text-align: left;
            }

            .search_container {
                display: none;
            }

            .links_container  {
                width: 50%;

                .lg {
                    display: none;
                }

                .sm {
                    display: block;
                    text-align: right;

                    li {
                        margin: 0 4%;
                    }
                }
            }

            .links_container2 {
                width: 50%;

                .lg {
                    display: none;
                }

                .sm {
                    display: block;
                    text-align: right;
                }
            }
        }

        @include screen-size(300px) {
            .logo_container {
                width: 35%;
            }

            .links_container, .links_container2 {
                width: 65%;
            }
        }
    }
}


//Search Input Floating.
.search_floating {
    display: none;
}

.user_menu {
    display: none;
    position: fixed;
    top: 55px;
    right: 0;
    width: 300px;
    color: $defaultBgColor;
    border-left: 1px solid map-get($main_nav, borderColor);
    border-right: 1px solid map-get($main_nav, borderColor);
    border-bottom: 1px solid map-get($main_nav, borderColor);
    background-color: map-get($main_nav, bgColor);

    .contents {
        padding: 5px;

        .top {
            border-bottom: 1px solid $dividerColor;

            ul li {
                display: inline-block;
                font-size: 18px;
                margin: 0 5px;
            }

            ul li:first-child img {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                border: 2px solid $thumbnailBorderColor;
            }
        }

        .bottom {
            margin-top: 30px;

            ul li {
                display: block;
                margin-bottom: 20px;

                a {
                    color: map-get($main_nav, fontColor);
                    text-decoration: none;
                    display: block;
                    transition: color 1s;
                }

                a:hover {
                    color: $hoverColor;
                }
            }
        }
    }
}

@include screen-size(710px) {
    .search_floating {
        border-bottom: 1px solid map-get($main_nav, borderColor);
        background-color: map-get($main_nav, bgColor);
        color: map-get($main_nav, fontColor);
        position: fixed;
        top: 51px;
        width: 100%;
        padding: 5px 0;
        z-index: 20;

        .contents {
            padding: 5px;

            .text_input {
                border: 1px solid map-get($searhNav, colors);
                background-color: map-get($searhNav, colors);
                padding: 5px;
    
                .search_m {
                    border: 1px solid map-get($searhNav, colors);
                    background-color: map-get($searhNav, colors);
                    width: 95%;
                    outline: none;
                    color: map-get($searhNav, fontColor);
                }

                @include screen-size(430px) {
                    .search_m {
                        width: 93%;
                    }
                }

                @include screen-size(315px) {
                    .search_m {
                        width: 90%;
                    }
                }
    
                .search-btn-toggle {
                    color: map-get($main_nav, bgColor);
                }
            }
        }
    }

    .search_floating2 {
        top: 55px;
    }
}

@include screen-size(400px) {
    .user_menu {
        width: 100%;

        @include screen-size(270px) {
            .top ul {
                padding-left: 0;
                margin-left: 10px;
            }
        }
    }
}