//Style for accountsettings page.
//View path /Views/users/accountsettings.php

.accountsettings {
    margin-top: 54px;

    .contents {
        padding: 20px;
        background-color: map-get($defaultContainer, bgColor);

        div.sm {
            display: none;
        }

        h1 {
            padding-bottom: 10px;
            border-bottom: 2px solid $dividerColor;
        }

        @include screen-size(380px) {
            h1 {
                font-size: 28px;
            }
        }

        table.lg {
            border: 2px solid $dividerColor;
            width: 70%;
            margin: 0 auto;
            margin-top: 30px;

            tr td {
                padding: 5px;
            }

            tr td:last-child {
                text-align: right;

                i {
                    cursor: pointer;
                }
            }

            .fullname_edit, .nickname_edit, .password_edit {
                display: none;
            }

            .fullname_edit, .nickname_edit, .password_edit {
                .field {
                    margin-bottom: 10px;

                    [type=text], [type=password] {
                        padding: 5px;
                        border-radius: 5px;
                        border: 1px solid map-get($forms, borderColor);
                        background-color: map-get($forms, bgColor);
                        outline: none;
                        width: 90%;
                    }
                }
            }

            .nickname_view {
                background-color: $defaultBgColor;
            }

            .fullname_edit {
                .fullname_alert_error, .fullname_alert_success {
                    width: 60%;
                    text-align: center;
                    display: none;
                    width: 90%;
                }
            }

            .nickname_edit {
                .nickname_alert_error, .nickname_alert_success {
                    width: 60%;
                    text-align: center;
                    display: none;
                    width: 90%;
                }
            }

            .password_edit {
                .password_alert_error, .password_alert_success {
                    width: 60%;
                    text-align: center;
                    display: none;
                    width: 90%;
                }
            }
        }

        @include screen-size(750px) {
            table.lg {
                display: none;
            }

            div.sm {
                display: block;
                margin-top: 20px;

                .fullname, .nickname, .passwords {
                    margin-bottom: 30px;
                }

                .fullname, .nickname, .passwords {
                    .m_fullname_alert_error, .m_fullname_alert_success, 
                    .m_nickname_alert_error, .m_nickname_alert_success,
                    .m_passwords_alert_error, .m_passwords_alert_success {
                        display: none;
                    }

                    .field {
                        margin-bottom: 5px;

                        label {
                            display: block;
                            width: 100%;
                            padding: 0;
                            margin: 0;
                        }

                        [type=text], [type=password] {
                            width: 100%;
                            padding: 5px;
                            border: 1px solid map-get($forms, borderColor);
                            background-color: map-get($forms, bgColor);
                            outline: none;
                        }
                    }
                }
            }
        }
    }
}