/*Fonts*/
$defaultFont: 'Saira', sans-serif;

$siteLogo: (
    font: ('Anton', sans-serif),
    size: 20px
);

$siteLogoLink: (
    color: $siteLogoColor,
    decoration: none
);

$header1: 'Unica One', cursive;