//Mixins.

//Responsive Mixin.
@mixin screen-size($size) {
    @media screen and (max-width: $size) {
        @content;
    }
}

@mixin progressBar {
    .progress_container {
        border: 1px solid map-get($progressBarColor, borderColor);
        background-color: map-get($progressBarColor, bgColor);
        padding: 3px 0px;

        .progress_bar {
            background-color: map-get($progressBarColor, progressColor);
            padding: 5px 0px;
            width: 0%;
            position: relative;
            top: -3px;
        }

        .percent {
            position: relative;
            width: 100%;
            margin-top: -30px;
            color: map-get($progressBarColor, fontColor);
        }
    }
}