//Mixins.

//Responsive Mixin.
@mixin screen-size($size) {
    @media screen and (max-width: $size) {
        @content;
    }
}

@mixin progressBar {
    .progress_container {
        border: 1px solid map-get($progressBarColor, borderColor);
        background-color: map-get($progressBarColor, bgColor);
        visibility: hidden;

        .progress_bar {
            background-color: map-get($progressBarColor, progressColor);
            padding: 5px;
            width: 0%;
        }

        .percent {
            position: absolute;
            margin-top: -28px;
            margin-left: 43%;
            color: map-get($progressBarColor, fontColor);
        }
    }
}