
//Import Assets Files
@import 'assets/colors';
@import 'assets/fonts';
@import 'assets/mixins';

//@import 'https://fonts.googleapis.com/css2?family=Anton&display=swap';
//@import 'https://fonts.googleapis.com/css2?family=Unica+One&display=swap';
//@import 'https://fonts.googleapis.com/css2?family=Saira:wght@200&display=swap';

body {
    color: $defaultColor;
    font-family: $defaultFont;
    background-color: $defaultBgColor;
}

.clear {
    clear: both;
}

//Navigation menu Style.
@import 'partials/nav';

//Import Home Style.
@import 'pages/home';

//Import Page Not Found Style.
@import 'pages/notfound';

//Import out Style.
@import 'pages/out';

//Import Search Page.
@import 'pages/search.scss';

//Import Login Page.
@import 'pages/login';

//Import Register Style
@import 'pages/register';

//Import Setpicture Page.
@import 'pages/setpicture';

//Import Video Upload Style.
@import 'pages/upload';

//Import AccountSettings Style.
@import 'pages/accountsettings';

//Import Watch Video Style.
@import 'pages/watch';

//Import MyChannel Style.
@import 'pages/mychannel';

//Import Userschannel Style.
@import 'pages/userschannel';